<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批量加减分</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                var query = $(this).val();
                $.ajax({
                    url: '{% url "search_students" %}',
                    data: {
                        'query': query
                    },
                    dataType: 'json',
                    success: function (data) {
                        var checkboxes = '';
                        data.forEach(function (student) {
                            checkboxes += '<label><input type="checkbox" name="students" value="' + student.id + '"> ' + student.name + '</label><br>';
                        });
                        $('#students-checkboxes').html(checkboxes);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h2>批量加减分</h2>
    <form method="post">
        {% csrf_token %}
        <label for="search-input">搜索学生：</label>
        <input type="text" id="search-input" placeholder="输入学生姓名">
        <hr>
        <div id="students-checkboxes">
            {% for student in form.students.field.queryset %}
                <label><input type="checkbox" name="students" value="{{ student.id }}"> {{ student.name }}</label><br>
            {% endfor %}
        </div>
        <hr>
        <label for="{{ form.score.id_for_label }}">积分：</label>
        {{ form.score }}
        <br>
        <label for="{{ form.reason.id_for_label }}">原因：</label>
        {{ form.reason }}
        <button type="submit">批量更新积分</button>
    </form>
    <a href="{% url 'dashboard' %}">返回仪表盘</a>
</body>
<foot>
    <hr></hr>
    <ul>Developed by DeepSeek/Doubao</ul>
    <ul>Hosted by Zixian Fang</ul>
    <ul>Powered by Django</ul>
    <ul>2025</ul>
</foot>
</html>