<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>注册</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">注册</button>
    </form>
    <p>已有账户？ <a href="{% url 'login' %}">登录</a></p>
</body>
<foot>
    <hr></hr>
    <ul>Developed by DeepSeek/Doubao</ul>
    <ul>Hosted by Zixian Fang</ul>
    <ul>Powered by Django</ul>
    <ul>2025</ul>
</foot>
</html>