<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改小组专项分 - {{ group.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>修改小组专项分 - {{ group.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">更新专项分</button>
    </form>
    <a href="{% url 'dashboard' %}">返回仪表盘</a>
</body>
<foot>
    <hr></hr>
    <ul>Developed by DeepSeek/Doubao</ul>
    <ul>Hosted by Zixian Fang</ul>
    <ul>Powered by Django</ul>
    <ul>2025</ul>
</foot>
</html>